
	<div class="span2"><a href="<%= lecture_view_path(@lecture) %>">View this lecture...</a></div>
</div>

<div class="row-fluid">
	<div class="span6 well">
		<h2>Notes</h2>
		<ul>
			<% @lecture.notes.each do |note| %>

				<li><a href="<%= if note.user == @user 
									note_edit_path(note) 
								 else 
								 	note_view_path(note) 
								 end%>"><%= note.user.nick %></a></li>

			<% end %>
		</ul>
		<a class="btn btn-primary" href="<%= lecture_addNote_path(@lecture) %>">Create Note</a>
	</div>
	<div class="span4 well">
		<h2>Documents</h2>
		<ul>
			<% @lecture.docs.each do |document| %>

			<li><a href="<%= document.url %>"><%= document.name %></a></li>

			<% end %>
		</ul>
		<%= form_for(Doc.new, :url=> lecture_addDocument_path(@lecture), :html => {  :enctype => "multipart/form-data" }) do |f| %>
			<%= file_field_tag :file %>
			<%= f.submit "upload" %>
		<% end %>

	</div>
	<div class="span2 well">
		<h2>Users</h2>
		<ul>
			<% @lecture.users.each do |u| %>
				<li><%= u.nick %></li>
			<% end %>
		</ul>

		<%= form_for User.new, :url => lecture_addUser_path(@lecture) do |f| %>

			<p>Add user to lecture:</p>
			<%= f.text_field :nick, :placeholder => "nick", :class => "input-small" %>
			<%= f.submit "add", :class => "btn btn-success" %> 

		<% end %>


	</div>
